<% content_for :quick_links do %>
  <%= render :partial =>"quick_links"%>
<% end %>

<legend>Inventories</legend>
<p class="pull-right">
<%= link_to 'New Inventory', new_admin_inventory_path ,:class=>"btn btn-info"%>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Purchased on</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.name %></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.inventory_type %></td>
        <td><%= inventory.cost %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.purchased_on %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Inventory', new_inventory_path %>
