<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @order.actual_amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @order.total_amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @order.created_by %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
